@import "variables";

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $blue;
}

header {
    margin-bottom: 25px;
}

iframe{
    min-width: fit-content;
    min-height: fit-content;
    height: 345px;
    width: 650px;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    aside {

        margin-right: 20px;
        margin-left: 5px;
        min-width: 40%;
        overflow: scroll;
        height: fit-content;
        max-height: 560px;
        background-color: #fff;

        &::-webkit-scrollbar {
            width: 10px;
            height: 0;
        }

        &::-webkit-scrollbar-thumb {
            background: $gray;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }

        &::-webkit-scrollbar-thumb:active {
            background-color: #999999;
        }

        &::-webkit-scrollbar-track {
            background: #e1e1e1;
        }

        &::-webkit-scrollbar-track:hover,
        &::-webkit-scrollbar-track:active {
            background: #d4d4d4;
        }

        .list-group {
        
            height: max-content;
            background-color: #fff;

            li {
                
                display: flex;
                flex-direction: row;

                .general{
                    width: 25%;
                    margin-left: 10px;
                }

                h6 {
                    font-weight: bold;
                    color: $gray;
                }

                a {
                    width: 70%;
                    height: max-content;
                    margin-bottom: 10px;
                    border: 1px $light_gray solid 
                }

                p {
                    display: flex;
                    width: 25%;
                    padding: 8px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $light_gray;
                }
            }
        }
    }

    section {
        margin-left: 25px;

        article {
            padding: 20px;
        }
    }
}

/*frameborder="0" scrolling="no" marginheight="0" marginwidth="0"*/

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;

        aside {
            height: 300px;
            margin: 0;

            &::-webkit-scrollbar {
                width: 10px;
                height: 0px;
                display: inline-block;
            }
        }

        section {
            margin: 0;
            margin-top: 15px;
        }

    }
}
